.App{
  background-image: linear-gradient(to right, rgb(36, 36, 250) , rgb(5, 181, 5));
  margin: 0 auto;
}
.result {
  height: 10rem;
  background-color: #1a1163;
  color: rgb(216, 216, 216);
  width: 100%;
  text-align: right;
  border-radius: 1rem 1rem 0rem 0rem;
}

.result p {
  font-size: 20px;
  margin: 5px;
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 1rem;

}

.calculator-body {
  max-width: 15rem;
  margin: 0 auto;
  padding: 10rem 10rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.button {
  display: block;
  background-color: #323131;
  border-radius: 0rem 0rem 1rem 1rem;
}

button {
  width: 25%;
  height: 60px;
  font-size: 20px;
  background-color: #323131;
  color: rgb(216, 216, 216);
  border: 0px;
  border-radius: 0rem 0rem 1rem 1rem;
}
